SECRET_KEY=

DEBUG=
ALLOWED_HOSTS=

DB_ENGINE=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

CSU_EMAIL=
CSU_PASSWORD=

TG_API_KEY=
TG_CHAT_ID=

REDIS_HOST=
REDIS_PORT=
REDIS_DB=